{% include 'Mosaic/base.html' %}
{% load static %}


<div class="column">

    <div class="block">
    <h1 class="title">
        {{profile.user.username|title}}'s Mosaic
    </h1>
    </div>
   
        <div class="block my-3 mx-3">
            <a href="{% url 'profile_list' %}">
                <button class="btn btn-success">
                    All Profiles
                </button>
            </a>
    
     
        <div class="d-flex my-5 mx-3">
            <div class="block col-md-6">
                <div class="content">
                    <h3 class="title my-2" style="color:#000">
                        Following
                    </h3>
                    <ul>
                            
                            <span href="#" style="color:#000" onclick="openModal1('followingModal')" >
                                <li>
                                    {{ profile.follows.all|length}}
                                </li>
                           </span>  
                    </ul>
                </div>
                
            </div>
            <div class="block col-md-6">
                <div class="content">
                    <h3 class="title my-2" style="color:#2c2c2c">
                        Followed By
                    </h3>
                    <ul>
                       
                        <span href="#" style="color:#2c2c2c" onclick="openModal1('followerModal')">
                            <li>
                                {{ profile.followed_by.all|length }}
                            </li>
                        </span>
                    </ul>
                </div>
                
                
            </div>
        </div>
        
    </div>
    <form class="mx-3" method="post">
        {% csrf_token %}
        <div class="buttons has-addons">
        {% if request.user.profile in profile.followed_by.all %}
            <button class="btn btn-success is-static  mx-2" name="follow">Follow</button>
            <button class="btn btn-danger" name="follow" value="unfollow">
                Unfollow
            </button>
        {% else %}
            <button class="btn btn-success" name="follow" value="follow">
                Follow
            </button>
            <button class="btn btn-danger is-static mx-2" name="follow">Unfollow</button>
        {% endif %}
    </form>
    
</div>
   <hr style="background-color: #2c2c2c;">
    <p class="title is-size-2" style="align-items: center; justify-content: center;display: flex;">
      
        <img class="logo" src="{% static 'images/logos/CAM-LOGO.svg' %}" alt="Posts">
    </p>

   <hr style="background-color: #3c3c3c;">

    
<div class="container post-container rounded">
    <div class="p-5" style="display: grid;grid-template-columns: repeat(3,0fr); gap:0;">
        {% for post in posts %}
        {% if post.image %}
       <div style="height: 400px; width: 400px;">
             <img class="img-fluid object-fit-cover w-100 h-100" src="{{ post.image.url }}" alt="Post Image" >
       </div>
       {% endif %}
      {% endfor %} 
      {% if not posts|length %}
      <div style="float:left; margin-left: 800px; margin-top: 300px;">
           <p>
             <a href="{% url 'upload' %}" style="color:white">
                
                 <strong>
                     Add more images to your mosaic
                 </strong>
               
             </a>
           </p>
      </div>
   {% endif %}
    </div>
</div>
</div>

<div id="followingModal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content w-25">
      <div class="box mx-3">
        <button class="btn btn-close my-3 mx-2" onclick="closeModal1('followingModal')"></button>
        <h3 class="title mx-3" style="color: #000;">Following List</h3>
        <ul>
          {% for following in profile.follows.all %}
            <li>{{ following }}</li>
          {% endfor %}
        </ul>
        
      </div>
    </div>
    
</div>
<div id="followerModal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content w-25">
      <div class="box mx-3">
        <button class="btn btn-close my-3 mx-2" onclick="closeModal1('followerModal')"></button>
        <h3 class="title mx-3" style="color: #000;">Followed By List</h3>
        <ul>
          {% for follower in profile.followed_by.all %}
            <li>{{ follower }}</li>
          {% endfor %}
        </ul>
      
      </div>
    </div>
    
</div>


