{% include 'Mosaic/base.html' %}
{% load static %}

<div class="column">

{% for profile in profiles %}

    <div class="block">
      <div class="card dimensions" style="width: 50%; border-radius: 5px;">
        <a class="float-left" href="{% url 'profile' profile.id %}">
          <div class="card-content">
            <div class="media float-left">
              <div class="media-left">
                {% if profile.profile_image %}
                <figure class="image is-48x48">
                  <img src="{{ profile.profile_image.url }}"
                       alt="Placeholder image"
                       style="width: 48px; height: 48px; border-radius: 20px;">
                       
                </figure>
                {% endif %}
              </div>
            
              <div class="media-content">
                <p class="title is-4">
                  {{ profile.user.username }}
                </p>
                <p class="subtitle is-6">
                  @{{ profile.user.username|lower }}
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

{% endfor %}
<div class="pagination">
  <span class="step-links">
    {% if profiles.has_previous %}
      <a class="pagination-previous" href="?page=1">&laquo; first</a>
      <a class="pagination-previous" href="?page={{ profiles.previous_page_number }}">previous</a>
    {% endif %}

    <span class="pagination-link is-current">
      {{ profiles.number }}
    </span>

    {% if profiles.has_next %}
      <a class="pagination-next" href="?page={{ profiles.next_page_number }}">next</a>
      <a class="pagination-next" href="?page={{ profiles.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
</div>

